name: Build & Publish Release APK

on:
  push:
    tags:
      - "*"

jobs:
  Gradle:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: setup jdk
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: "adopt"
      - run: echo 'dropbox.key=${{ secrets.DROPBOX_KEY }}' > ./local.properties
      - name: Make Gradle executable
        run: chmod +x ./gradlew
      - name: Build Release APK
        run: ./gradlew assembleRelease
      - uses: NoCrypt/sign-android@main
        name: Sign app APK
        id: sign_app
        with:
          releaseDir: app/build/outputs/apk/release
          signingKey: ${{ secrets.ANDROID_SIGNING_KEY }}
          keyAlias: ${{ secrets.ANDROID_KEY_ALIAS }}
          keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.ANDROID_KEY_PASSWORD }}
      # - name: Upload APK
      #   uses: actions/upload-artifact@v6
      #   with:
      #     name: CalibreBoxNew
      #     path: app/build/outputs/apk/release/app-release.apk
      - name: Upload release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            app/build/outputs/apk/release/app-release.apk
          tag_name: ${{ github.ref_name }}
          name: ${{ env.COMMIT_MESSAGE }}
          fail_on_unmatched_files: true
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
